body {
    overflow: hidden;
    position: relative;
    height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    background: #000;
}
.container {
    display: flex;
    align-items: center;
}
.game {
    width: 800px;
    margin: 0 auto;
}
#puzzle, #fake-puzzle {
    width: 800px;
    height: 600px;
    box-shadow: 0 0 10px #333;
    position: relative;
}
#fake-puzzle {
    position: absolute;
    top: 0;
    z-index: -1;
}
.result-game {
    width: 0px;
    height: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.result-game__item {
    opacity: 0;
    font-size: 72px;
    color: rgb(28, 18, 229);
    font-weight: bold;
    text-shadow: 3px 3px 20px #99dfff,
    -2px 1px 30px #99dfff;
}
.puzzle__item, .puzzle__item-fake {
    position: absolute;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 10px #333;
    border: 1px solid #99dfff;
}
button {
    z-index: 1;
    width: 90px;
    height: 50px;
    background: #fff;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(28, 18, 229);
    font-weight: bold;
    cursor: pointer;
    box-shadow: 3px 3px 20px #99dfff,
    -2px 1px 30px #99dfff;
    font-weight: bold;

}
.btn-again {
    margin-left: 20px;
}
.btn-changeImage {
    margin-right: 20px;
}
button:hover {
    color: #fff;
    background: #000;
}
.timer {
    font-size: 150px;
    color: #fff;
    text-shadow: 3px 3px 20px #99dfff,
    -2px 1px 30px #99dfff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}